.navbar{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.navbar .left{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navbar .left img{
    width: 70px;
}

.navbar .right{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .right a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.navbar .right button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
.navbar .right svg{
    font-size: 40px;
}


.navbar #open {
    padding-left: 0px;
  }
  .navbar .left img {
    width: 100px;
}
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
   
   .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;

    color: white;
    text-decoration: none;
    /* margin: 15px; */
  }
  @media only screen and (max-width: 900px) {
    .navbar .right a {
      width: 70px;
    }
    .navbar .left {
      padding-left: 50px;
    }
  }
  @media only screen and (max-width: 600px) {
    .navbar .right a{
      display: none;
 
     }
    .navbar .right {
     justify-content: flex-end;
     padding-right: 50px;

    }
    .navbar .right button{
        display: inherit;
    }
    
}
@media only screen and (min-width: 600px){
    .navbar .right button{
        display: none;
    }

    .hiddenLinks{
        display: none;
    }
}